<%= form_with(model: post, data: {controller: "comment"}) do |form| %>
  <%= form.container_for :name, class: "field" do %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.error_for :name, class: "danger hide" %>
  <% end %>

  <%= form.container_for :age, class: "field" do %>
    <%= form.label :age %>
    <%= form.number_field :age %>
    <%= form.error_for :age, class: "danger hide" %>
  <% end %>

  <%= form.container_for :body, class: "field" do %>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <%= form.error_for :body, class: "danger hide" %>
  <% end %>

  <%= form.container_for :consent, class: "field" do %>
    <%= form.label :consent %>
    <%= form.check_box :consent %>
    <%= form.error_for :consent, class: "danger hide" %>
  <% end %>

  <h3>Nested Comments</h3>
  <div data-comment-target="comments">
    <template data-comment-target="template">
      <%= form.fields_for :comments, Comment.new, child_index: "TEMPLATE_RECORD" do |comment_form| %>
        <%= render "comment_form", comment_form: comment_form %>
      <% end %>
    </template>

    <%= form.fields_for :comments do |comment_form| %>
      <%= render "comment_form",  comment_form: comment_form %>
    <% end %>

  </div>

  <button data-action="click->comment#addAssociation" type="button" name="button">Add</button>
  <br>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
